name: graphify
description: "A data visualization charts library, based on Apache Echarts, able to build advanced charts like WebGL 3D, Bar, Line, Candlestick, Radar, Graph, Tree  etc."
repository: "https://github.com/warioddly/graphify"
documentation: "https://echarts.apache.org/en/option.html#title"
issue_tracker: "https://github.com/warioddly/graphify/issues"

version: 1.2.1

environment:
  sdk: '>=3.2.3 <4.0.0'
  flutter: '>=3.3.0'

dependencies:
  flutter:
    sdk: flutter
  webview_flutter: ^4.10.0
  web: ^1.1.1

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^3.0.1

flutter:
  # This section identifies this Flutter project as a plugin project.
  # The 'pluginClass' specifies the class (in Java, Kotlin, Swift, Objective-C, etc.)
  # which should be registered in the plugin registry. This is required for
  # using method channels.
  # The Android 'package' specifies package in which the registered class is.
  # This is required for using method channels on Android.
  # The 'ffiPlugin' specifies that native code should be built and bundled.
  # This is required for using `dart:ffi`.
  # All these are used by the tooling to maintain consistency when
  # adding or updating assets for this project.
platforms:
  android:
  ios:
  macos:
  web:
  windows:

topics:
  - graph
  - charts
  - echarts
  - visualization
  - diagram
